## SARIMAX

Same as ARIMA, but allows for seasonality and some other features

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/AirPassengers.csv')
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [2]:
df['Month'] = pd.to_datetime(df['Month'])
df.set_index('Month', inplace=True)
df.rename({"#Passengers":"Passengers"}, axis=1, inplace=True)
df.head()

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121

In [3]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

model = SARIMAX(df['Passengers'], order=(0,0,1), seasonal_order=(1,1,1,12), enforce_stationarity=False, enforce_invertibility=False)
results = model.fit()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
 This problem is unconstrained.

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =            4     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  3.81933D+00    |proj g|=  2.43453D-01

At iterate    5    f=  3.78336D+00    |proj g|=  1.81032D-02

At iterate   10    f=  3.58860D+00    |proj g|=  5.77425D-01

At iterate   15    f=  3.39548D+00    |proj g|=  1.26013D-01

At iterate   20    f=  3.39352D+00    |proj g|=  1.79596D-04

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
    4     21     30      1     0     0   1.324D-04   3.394D+00
  F =   3.3935230826504159

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH

In [4]:
pred = results.get_prediction(start=pd.to_datetime('1/1/2018'))
print(type(pred))

<class 'statsmodels.tsa.statespace.mlemodel.PredictionResultsWrapper'>

In [13]:
print(pred.prediction_results.results.forecasts[0][-1])

437.30227724196766

In [9]:
df.tail(5)

            Passengers
Month
1960-08-01         606
1960-09-01         508
1960-10-01         461
1960-11-01         390
1960-12-01         432